html {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;
    overflow-y: auto;
    height: 100%;
    background-color: #F8F8F8;
}

/* ШАПКА */

.header {
    margin: 0;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #FFFFFF;
    max-width: 1440px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px){
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1120px){
    .header {
        display: none;
    }
}

/* НАВИГАЦИЯ */

.nav__left,
.nav__right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__right li:nth-child(-n+3) {
    display: none;
}

.bth-round {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    border: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.bth-round:hover {
    opacity: 0.5;
}

.bth-round--call,
.bth-round--chat,
.bth-round--profile,
.divider-right {
    display: none;
}

@media (min-width: 768px) {
    .nav__right li:nth-child(-n+3) {
        display: flex;
    }
    .bth-round--call,
    .bth-round--chat,
    .bth-round--profile,
    .divider-right {
    display: block;
    }

    .bth-round--menu {
        order: -1;
    }

    .logo-link {
        order: 1;
    }

    .divider-left {
        order: 0;
    }
}

/* Burger-menu */

.burger-menu {
    width: 320px;
    height: 100%;
    box-shadow: 16px 0 52px 0 #0E185033;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 88px;
}

.logo {
    margin-right: auto;
}

.burger-menu__header,
.burger-menu__nav {
    flex-shrink: 0;
}

.burger-menu__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 24px;
    margin-top: 4px;
    margin-bottom: 32px;
}

.burger-menu__item {
    padding-left: 16px;
    line-height: 24px;
}

.burger-menu__item:last-child {
    padding-bottom: 0;
}

.burger-menu__link {
    text-decoration: none;
    list-style: none;
    font-family: 'TT Lakes-Medium', 'Arial', sans-serif;
    font-size: 16px;
    color: #1B1C21;
    letter-spacing: -0.2px;
}

.burger-menu__item:hover {
    border-left: 4px solid #41F6D7;
}

.burger-menu__link:hover {
    color: #7E7E82;
}

.burger-menu__footer {
    padding-left: 16px;
    margin-top: auto;
}

.burger-menu__buttons {
    display: flex;
    padding-bottom: 16px;
    margin: 0;
    gap: 16px;
    padding-left: 0;
}

.burger-menu__address {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.burger-menu__mail,
.burger-menu__phone {
    font-family: 'TT Lakes-Regular', 'Arial', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    color: #1B1C21;
    letter-spacing: -0.2px;
}

.burger-menu__phone {
    font-family: 'TT Lakes-Bold', 'Arial', sans-serif;
    font-size: 24px;
    letter-spacing: -0.6px;
    padding-bottom: 8px;
}

.burger-menu__language {
    display: flex;
    font-family: 'TT Lakes-Medium', 'Arial', sans-serif;
    font-size: 16px;
    gap: 7px;
    margin: 0;
    padding-bottom: 32px;
    padding-left: 0;
}

.language__bth {
    all: unset;
}

.language__bth:hover {
    color: #7E7E82;
}

@media (min-width: 768px){
    .burger-menu__header{
        padding-left: 24px;
        padding-right: 24px;
    }
    .burger-menu__list {
        gap: 32px;
        margin-top: 32px;
    }
    .burger-menu__item {
        padding-left: 24px;
    }
    .burger-menu__phone {
        padding-bottom: 40px;
    }
    .burger-menu__footer {
        padding-left: 24px;
    }
}

/* MAIN */

.main {
    background-color: #F8F8F8;
}

.main__container {
    background-color: #F8F8F8;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    min-height: 416px;
}

@media (min-width: 768px) {
    .main__container {
    padding-top: 24px;
    padding-right: 25px;
    padding-left: 20px;
    }
}

@media (min-width: 1120px) {
    .main__container {
    padding-top: 42px;
    padding-right: 25px;
    padding-left: 32px;
    min-height: 535px;
    }
} 

/* TITLE */

.title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.title__vertical-line {
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
    position: absolute;
    margin-left: -16px;
}

.title__title-copy {
    font-family: 'TT Lakes-Bold', 'Arial', sans-serif;
    font-size: 28px;
    margin: 0;
    letter-spacing: -0.6px;
}

.title__button {
    display: none;
}

@media (min-width: 768px) {
    .title {
        padding-bottom: 32px;
    }

    .title__vertical-line {
        margin-left: -20px;
    }
}

@media (min-width: 1120px) {
    .title {
        padding-bottom: 8px;
    }

    .title__button {
    display: flex;
    gap: 32px;
    }

    .title__vertical-line {
        margin-left: -32px;
    }

    .title__button-repair,
    .title__button-status {
        display: flex;
        align-items: center;
    }

    .title__button-repair--text,
    .title__button-status--text {
        font-family: 'TT Lakes-Medium', 'Arial', sans-serif;
        font-size: 16px;
        color: #1B1C21;
        text-decoration: none;
        letter-spacing: -0.2px;
        padding-right: 8px;
    }
}

/* Слайд-меню */

.slide-menu {
    display: flex;
    white-space: nowrap;
    align-items: center;
    padding-bottom: 24px;
}

.slide-menu__list {
    display: flex;
    overflow-x: auto;
    list-style: none;
    padding-left: 0;
    margin: 0;
    letter-spacing: -0.2px;
}

@media (min-width: 1120px) {
    .slide-menu__list {
    flex-wrap: wrap;
    }
}

.slide-menu__link {
    display: flex;
    align-items: center;
    border: none;
    background-color: #F8F8F8;
    color: #7E7E82;
    font-family: 'TT Lakes-Medium', 'Arial', sans-serif;
    padding-left: 15px;
    padding-right: 9px;
    font-size: 16px;  
    height: 40px;
    letter-spacing: -0.2px;
    text-decoration: none;
}

.slide-menu__link:hover {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/* ТЕКСТ И ИЗОБРАЖЕНИЕ */

.first-block {
    display: flex;
    flex-direction: column;       
}

.text__content {
    overflow: hidden;
    max-height: 90px;
    font-family: 'TT Lakes-Regular', 'Arial', sans-serif;
    font-size: 14px;
    margin-bottom: 16px;
    letter-spacing: 0.2px;
}

.text__content--mobile {
    margin: 0;
}

.text__content--tablet {
    display: none;
}

.text__content--desktop {
    display: none;
}

.image-container__img {
    width: calc(100% + 32px);
    height: auto;
    display: block;
    object-fit: contain;
    position: relative;
    left: -16px;

    }

@media (min-width: 768px) {
    .first-block {
       flex-direction: row; 
       align-items: stretch;        
    }

    .first-block__text {
        flex: 1;
    }

    .text__content {
        max-height: 160px;
        letter-spacing: 0.2px;
    }

    .text__content--tablet {
        display: block;
        margin: 0;
        padding-right: 48px;
    }

    .text__content--mobile,
    .text__content--desktop {
        display: none;
    }

    .image-container__img {
        position: relative;
        border-radius: 5px;
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
        flex: 1;
        left: 0;
    }
}

@media (min-width: 1120px) {
    .first-block {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .text__content {
        max-height: 160px;
    } 

    .text__content--desktop {
        display: block;
        margin: 0;
        padding-right: 36px;
    }

    .text__content--mobile,
    .text__content--tablet {
        display: none;
    }

    .image-container__img {
       border-radius: 5px;
       width: 100%;
       height: auto;
       display: block;
       object-fit: contain;
    }
}

/* ЧИТАТЬ ДАЛЕЕ */

.read-more__bth {
    border: none;
    background-color: #F8F8F8;
    padding-bottom: 16px;
    padding-right: 8px;
}

.read-more__text {
    font-family: 'TT Lakes-Medium', 'Arial', sans-serif;
    color: #1B1C21;
    text-decoration: none;
    font-size: 16px;
}

.read-more__text:hover {
    color: #7E7E82;
}

/* БРЕНДЫ */

.title-brands {
    border-top: 1px solid #D9FFF5;
    padding: 16px;
    font-family: 'TT Lakes-Regular', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7E7E82;
    letter-spacing: -0.2px;
    line-height: 24px;
    margin: 0;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    height: 80px;
    box-sizing: border-box;
}

.swiper {
    overflow: hidden;
    width: 100%;
    padding-bottom: 40px;
}

.swiper-pagination {
    position: static;
    padding-top: 16px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #DDDDDD;
    margin: 6px;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: #B5B6BC;
    transform: scale(1.2);
}

.swiper-wrapper {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 16px;
    padding-top: 16px;
    transition: max-height 0.5s ease;
    gap: 16px;
}

.swiper-slide {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    list-style: none;
}

.swiper-slide:last-child {
    margin-right: 0;
}

.bth-arrow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    margin: 0;
    padding: 16px;
    border-radius: 6px;
}

.bth-arrow:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.bth-round--go {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.read-more__bth {
    display: none;
}

@media (min-width: 768px) {
    .swiper {
        padding-bottom: 0;
    }
    .title-brands {
        height: 56px;
    }
    .swiper-wrapper {
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 16px;
        column-gap: 24px;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
        max-height: 160px;
    }
    .bth-arrow {
        width: 224px;
        height: 72px;
    }
    .read-more__bth {
        display: flex;
        padding-left: 24px;
        padding-top: 24px;
        padding-bottom: 34px;
        gap: 9px;
        transition: max-height 0.5s ease;
    }
    .rotated {
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {
    .swiper-wrapper {
        row-gap: 16px;
        column-gap: 24px;
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .bth-arrow {
        width: 240px;
        height: 72px;
    }
    .read-more__bth {
        display: flex;
        padding-left: 31px;
        padding-top: 24px;
        padding-bottom: 34px;
        gap: 9px;
    }
}

