@use "../global/mixins" as *;
@use "../global/variables" as *;

.btn-square {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 240px;
  height: 160px;
  border: 1px solid $border-color;
  background-color: $white;
  padding: 16px;
  border-radius: 6px;
  box-sizing: border-box;
  @media (min-width: 768px) {
    width: 224px;
    height: 160px;
  }
  @media (min-width: 1440px) {
    width: 240px;
    height: 160px;
  }

  &:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
  }

  &__text {
    font-family: $ff-medium;
  }
}