@use "../global/mixins" as *;
@use "../global/variables" as *;

.commercial-offer {
  display: flex;
  align-items: center;
  text-align: start;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 40px;
  font-family: $ff-medium;
  letter-spacing: -0.2px;
  @media (min-width: 768px) {
    padding-bottom: 47px;
    padding-left: 16px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 50px;
    padding-left: 32px;
  }
  &:hover {
    @include grey-text-animation
  }
}