//fonts
$ff-bold: "TTLakes-Bold";
$ff-regular: "TTLakes-Regular";
$ff-medium: "TTLakes-Medium";

//color
$white: #FFFFFF;
$border-color: #EAEAEA;
$pink: #FF3E79;
$grey: #7E7E82;
$grey-alt: #B5B6BC;
$color-text: #1B1C21;
$color-background: #F8F8F8;
$color-shadow: #D9FFF5;
$color-highlight: #41F6D7;
$color-border-blue: #B8FFEC;

$border: 1px solid $color-border-blue;
$border-small: 1px solid $border-color;
$border-radius: 6px;

$transition-duration: 0.2s;